table {
    width: 100%;
    padding: 0px 25px 10px 25px;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.container {
    position: relative;
}

td a, button {
    width: 100%;
    display: block;
}

.mdc-data-table__header-cell {
    text-align: center;
}

.mdc-data-table__cell.cell-center {
    text-align: center;
}

.example-button-row a {
  margin-right: 8px;
}
