<!-- TODO: Condicionar la existencia de la etiqueta comment a la de la etiqueta story -->
<!-- !! ERA AL REVES, EL ULTIMO ELEMENTO EN CARGAR DEFINE LA CONSTRUCCION DEL OTRO -->

<div class="main-body">
    <!-- TODO: Anadir animacion de carga circular -->
    <div *ngIf="!comments; else storyComments">
        <div class="wrapper center">
            <mat-spinner class="inner"></mat-spinner>
        </div>
    </div>

    <ng-template #storyComments>
        <app-story [story]="story"></app-story>
        <app-comment [comments]="comments"></app-comment>
    </ng-template>
</div>
