.card {
    margin-bottom: 8px;
    width: 40%;
    margin: 25px auto;
}

.node-card {
    width: 95%;
    margin: 10px auto;
}

mat-card-title {
    margin-right: 20px ;
}

mat-card-content.card-content {
    padding-left: 0;
}

.leaf-node {
    padding-left: 30px;
}

.tree ul,
.tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.mat-tree-node{
    align-items: flex-start;
}

button {
    margin: 10px;
    font-size:28px !important;
}




